.detailProduct {
    margin-left: auto !important;
    margin-right: auto !important;
}
.imageProduct {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
}
.cardProduct {
    /* width: 230px !important; */
    width: 100% !important;
    height: 400px !important;
}